<li>
  <%=
    link_to message,
    class: "message #{message.image.attached? ? 'has-image' : nil}",
    style: "background-image: url('#{message.image.attached? ? imgix_url(message.image, { fit: "clip", crop: "entropy,egdes,faces", w: 690, h: 690}) : nil}')" do
  %>
    <div class="message-content">
      <p><strong><%= message.name %></strong></p>
      <p><%= truncate(message.content, length: 180) %></p>
    </div>
  <% end %>
</li>
