<li>
  <%=
    link_to message,
    class: "message #{message.image ? 'has-image' : nil}",
    style: "background-image: url('#{message.image ? cl_image_path(message.image.external_id, transformation: {crop: "fit", width: 690, height: 690}) : nil}')" do
  %>
    <div class="message-content">
      <p><strong><%= message.name %></strong></p>
      <p><%= truncate(message.content, length: 150) %></p>
    </div>
  <% end %>
</li>
