<li>
  <%= link_to message, class: "message #{message.image.attached? ? 'has-image' : ''}" do %>
    <div class="message-content">
      <p><%= message.name %></p>
      <p><%= message.content %></p>
    </div>

    <% if message.image.attached? %>
      <%= image_tag imgix_url(message.image, { fit: "clip", crop: "entropy,egdes,faces", w: 600, h: 600}) %>
    <% end %>
  <% end %>
</li>
