<li>
  <%=
    link_to message,
    class: "message #{message.image ? 'has-image' : nil}",
    style: "background-image: url('#{message.image ? cl_image_path(message.image.external_id, sign_url: true, transformation: {crop: "fit", width: 690, height: 690}) : nil}')" do
  %>
    <div class="message-content">
      <p>
        <strong><%= message.name %></strong>
        <br>
        <small><%= message.created_at.strftime("%d/%m/%Y") %></small>
      </p>
      <p><%= truncate(message.content, length: 140) %></p>
    </div>
  <% end %>
</li>
