<header class="headline">
  <a href="<%= messages_path %>" class="link-back" title="Back">
    <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
  </a>
  <h1>Editing Message</h1>
</header>

<div class="wrapper">
  <%= render 'form', message: @message %>
</div>
