html {
  font-family: 'ProximaNova', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-grey-100;
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.page-header {
  min-height: 490px;
  background: {
    color: $color-grey-500;
    image: image-url('hero.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }

  h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    color: $color-white;
    margin: 160px 0 0 10%;
    padding-right: 100px;
  }
}

.page-nav {
  padding: 24px 8px;

  > ul {
    display: flex;

    li {
      margin: 0 8px;

      &:last-of-type {
        margin-left: auto;
      }
    }

    a {
      display: inline-block;
      font-size: 14px;
      text-align: center;
      padding: 8px;
      color: $color-white;
      transition: color .175s;

      &:hover {
        color: rgba($color-white, .8);
      }
    }
  }

  @media ($media-from-sm) {
    padding: 24px 16px;

    > ul {
      a {
        font-size: 24px;
      }
    }
  }
}

.page-content {
  margin: 40px 0;
}
