html {
  font-family: 'ProximaNova', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-grey-100;
  color: $color-grey-300;
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  max-width: 980px;
  padding: 0 16px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.link-back {
  display: inline-block;
  font-size: 32px;
  color: lighten($color-grey-300, 5%);
  transition: color .175s;

  &:hover {
    color: $color-grey-300;
  }

  > svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  @media ($media-from-lg) {
    position: absolute;
    top: 4px;
    right: calc(100% + 4vw);
  }
}

.header {
  min-height: 490px;
  background: {
    color: $color-grey-500;
    image: image-url('hero.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }

  h1 {
    font-size: 40px;
    line-height: 1.2;
    font-weight: bold;
    color: $color-white;
    margin: 160px 0 0 10%;
    padding-right: 100px;
  }
}

.nav {
  padding: 24px 8px;

  > ul {
    display: flex;

    li {
      margin: 0 8px;

      &:last-of-type {
        margin-left: auto;
      }
    }

    a {
      display: inline-block;
      font-size: 14px;
      text-align: center;
      padding: 8px;
      color: $color-white;
      transition: color .175s;

      &:hover {
        color: rgba($color-white, .8);
      }
    }
  }

  @media ($media-from-sm) {
    padding: 24px 16px;

    > ul {
      a {
        font-size: 24px;
      }
    }
  }
}

.content {
  margin: 40px 0;
}

.headline {
  color: $color-grey-400;
  margin-bottom: 40px;

  h1 {
    font-size: 32px;
    line-height: 1.2;

    @media ($media-from-md) {
      font-size: 40px;
    }
  }
}

.footer {
  font-size: 18px;
  line-height: 1.5;
  color: $color-grey-200;
  text-align: center;
  margin: 40px 0 50px;
}
