html {
  font-family: 'ProximaNova', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-grey-100;
  color: $color-grey-300;
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.header {
  min-height: 460px;
  background: {
    color: $color-grey-500;
    image: image-url('hero.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
  }

  h1 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: bold;
    color: $color-white;
    margin: 140px 0 0 10%;
    padding-right: 100px;
  }
}

.content {
  margin: 40px 0;
}

%wrapper {
  max-width: 900px;
  padding: 0 24px;
  margin: 0 auto;
}

.wrapper,
.headline {
  @extend %wrapper;
}

.headline {
  position: relative;
  color: $color-grey-400;
  margin-bottom: 40px;

  h1 {
    font-size: 32px;
    line-height: 1.1;

    @media ($media-from-sm) {
      font-size: 40px;
    }
  }

  .link-back {
    font-size: 38px;
    color: lighten($color-grey-300, 5%);
    transition: color .175s;

    &:hover {
      color: $color-grey-300;
    }

    .icon {
      width: 1em;
      height: 1em;
      fill: currentColor;
    }

    @media ($media-from-lg) {
      position: absolute;
      top: 0;
      right: calc(100% + 5vw);
    }
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $color-grey-200;
  padding-top: 24px;
  margin-top: 24px;
}

.footer {
  font-size: 18px;
  line-height: 1.5;
  color: $color-grey-200;
  text-align: center;
  margin: 40px 0 50px;
}
