@font-face {
  font-family: 'ProximaNova';
  src:
    url('https://assets.freeletics.com/packages/web-package-particle/fonts/proximanova-regular-webfont.woff2')
    format('woff2'),
    url('https://assets.freeletics.com/packages/web-package-particle/fonts/proximanova-regular-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src:
    url('https://assets.freeletics.com/packages/web-package-particle/fonts/proximanova-bold-webfont.woff2')
    format('woff2'),
    url('https://assets.freeletics.com/packages/web-package-particle/fonts/proximanova-bold-webfont.woff')
    format('woff');
  font-weight: bold;
  font-style: normal;
}
