<header class="headline">
  <a href="<%= messages_path %>" class="link-back" title="Back">
    <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
  </a>
  <h1>Who is Rémi?</h1>
</header>

<div class="wrapper">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse quis sapien volutpat mauris blandit blandit. Maecenas tincidunt augue turpis, sit amet commodo nibh tincidunt vel. Nullam interdum, orci euismod suscip</p>
</div>
