.message-list {
  @media ($media-from-sm) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 12px;

    > li {
      flex-basis: 50%;
    }

    .message {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  @media ($media-from-lg) {
    &.message-list-index {
      > li {
        flex-basis: 25%;

        &:nth-child(17n-15),
        &:nth-child(17n-13),
        &:nth-child(17n-4) {
          flex-basis: 50%;
        }
      }
    }
  }
}

.message {
  display: block;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 320px;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid $color-grey-300;
  color: $color-grey-400;
  background-color: $color-white;

  &.has-image {
    border: 0;
    color: $color-white;
    background-color: $color-grey-500;
    background-size: cover;
    background-position: center;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background-color: rgba($color-grey-400, .7);
    }
  }
}

.message-content {
  position: relative;
  z-index: 10;
  font-size: 21px;
  max-width: 300px;
  word-break: break-word;

  p:first-child {
    margin-bottom: 24px;
  }
}

.message-preview {
  p {
    line-height: 1.4;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}
