.btn {
  display: inline-flex;
  align-items: center;
  height: 65px;
  border-radius: 3px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  padding: 0 32px;
  outline: 0;
  cursor: pointer;

  &:disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.btn-sm {
  height: 48px;
  font-size: 16px;
}

.btn-default {
  color: $color-grey-400;
  border-color: currentColor;
  background-color: transaprent;
  transition: background-color .175s;

  &:hover,
  &:focus {
    background-color: rgba($color-grey-400, .05);
  }

  &:active {
    background-color: rgba($color-grey-400, .1);
  }
}

.btn-primary {
  color: $color-white;
  background-color: $color-green;
  transition: background-color .175s;

  &:hover,
  &:focus {
    background-color: darken($color-green, 5%);
  }

  &:active {
    background-color: darken($color-green, 8%);
  }
}

.btn-danger {
  color: $color-danger-red;
  border-color: currentColor;
  background-color: transaprent;
  transition: background-color .175s;

  &:hover {
    background-color: rgba($color-danger-red, .05);
  }
}
