.direct-upload {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 4px 8px;
  margin-bottom: 16px;
  border: 1px solid $color-grey-200;
  border-radius: 3px;
  font-size: 13px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: $color-grey-400;

  &:not(.direct-upload--complete) {
    ~ label.btn {
      pointer-events: none;
      opacity: .4;
    }
  }
}

.direct-upload--pending {
  opacity: .6;
}

.direct-upload__progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: .2;
  background: $color-blue;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}

.direct-upload--complete .direct-upload__progress {
  opacity: .4;
  background: $color-green;
}

.direct-upload--error {
  border-color: $color-danger-red;
}

input[type=file][data-direct-upload-url][disabled] {
  display: none;
}
