.form-control {
  width: 100%;
  height: 40px;
  font-size: 16px;
  color: $color-grey-500;
  padding: 0 8px;
  border: 1px solid $color-grey-200;
  background-color: $color-white;
  outline: none;
  vertical-align: middle;
  border-radius: 3px;
  transition: border-color .175s;

  &:focus {
    border-color: $color-grey-300;
  }

  &:invalid,
  &:-moz-submit-invalid,
  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

textarea.form-control {
  height: auto;
  min-height: 180px;
  resize: vertical;
  padding: 10px;
  line-height: 1.3333;
}

.form-group {
  margin-bottom: 32px;

  > label {
    display: block;
    margin-bottom: 4px;
  }
}

.form-group-upload-image {
  position: relative;
  margin-bottom: 32px;

  p {
    margin-bottom: 16px;
    max-width: 650px;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
}

.field_with_errors {
  .form-control {
    border-color: $color-danger-red;
  }
}

#error_explanation {
  max-width: 480px;
  margin-bottom: 16px;

  h2 {
    font-weight: bold;
    margin-bottom: 16px;
    font-size: 14px;
    color: $color-danger-red;
  }

  li {
    font-size: 12px;
    list-style: square;
  }
}
