.nav {
  padding: 24px;

  > ul {
    display: flex;
    flex-direction: column;

    a {
      display: inline-block;
      font-size: 22px;
      text-align: center;
      padding: 8px 0;
      color: rgba($color-white, .8);
      transition: color .175s;

      &:hover,
      &:focus {
        color: $color-white;
      }

      &.is-active {
        color: $color-white;
        font-weight: bold;
      }
    }
  }

  @media ($media-from-sm) {
    padding: 24px 16px;

    > ul {
      flex-direction: row;

      li {
        margin: 0 8px;

        &:last-of-type {
          margin-left: auto;
        }
      }

      a {
        padding: 8px;
      }
    }
  }
}
